#stock{
    float: right;
    padding-top: 8%;
    font-size: 40px;
    font-family:fantasy;
    padding-right: 20%;
}

.col-sm-4 {
    border-style: solid;
    padding: 30px
}

table{
    border-style: inset;
}

th, 
td{
    border-style: double;
}

th,
#shade
{
    background-color: lightgrey;
}

h1{
    font-size:relative;
}

#logo{
    height:150px; 
    width:200px;
}

#text{
    font-family:fantasy;
    font-size: 40px;
    padding-top: 8%;
}

#data{
    font-family:fantasy;
    padding-top: 8%;
}

#signal{
    font-family:fantasy;
    padding-top: 8%;
}

#run{
    float: right;
}

#header_logo{
    margin: 10;
}

.row{
    margin:1%;
}