html * {
    font-size: 1.2vw;
    font-family: serif;
    font-weight: 600;
}

#stock{
    float: right;
    padding-top: 8%;
    padding-right: 20%;
}

.col-sm-4 {
    border-style: solid;
}

table{
    table-layout: fixed;
    border-style: inset;
    width: 100%;
    overflow: scroll;
}

th, 
td{
    border-style: double;
}

th,
#shade
{
    background-color: lightgrey;
}

h1{
    font-size:relative;
}

#logo{
    height:128px; 
    width:128px;
}

#text{
    font-family:fantasy;
    font-size: 40px;
    padding-top: 8%;
}

#data{
    font-family:fantasy;
    padding-top: 8%;
}

#signal{
    font-family:fantasy;
    padding-top: 8%;
}

#run{
    float: right;
}

#header_logo{
    margin: 10;
}

.row{
    margin:1%;
}